{% extends 'base.html.twig' %}

{% block title %}New Categorie{% endblock %}

{% block body %}
    <h1 class="text-4xl font-bold dark:text-white text-center">Create new Categorie</h1>

    {{ include('categorie_crud/_form.html.twig') }}

    <div class="grid place-items-center">
        <a href="{{ path('app_categorie_c_r_u_d_index') }}">
            <button class="p-4 px-6 py-3 text-white bg-gray-500 font-medium text-xs leading-tight uppercase rounded shadow-md hover:bg-green-700 hover:shadow-lg focus:shadow-lg focus:outline-none focus:ring-0 active:shadow-lg transition duration-150 ease-in-out mb-3">
                Back to list
            </button>
        </a>
    </div>
{% endblock %}
