<form method="post" action="{{ path('app_user_fav_crud_delete', {'id': user_fav.id}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ user_fav.id) }}">
    <div class="grid place-items-center">
        <button class="btn p-4 px-6 py-3 text-white bg-gray-500 font-medium text-xs leading-tight uppercase rounded shadow-md hover:bg-red-700 hover:shadow-lg focus:shadow-lg focus:outline-none focus:ring-0 active:shadow-lg transition duration-150 ease-in-out mb-3">Delete</button>
    </div>
</form>
