<!DOCTYPE html>
<html lang="fr-FR">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="x-ua-compatible" content="ie=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <title>Safer | Sociétés d&#039;aménagement foncier et d&#039;établissement rural</title>
        <link rel="icon" type="image/x-icon" href="{{ asset('assets/img/logo.svg') }}">
        <script src="https://cdn.tailwindcss.com"></script>
        {% block stylesheets %}
            {{ encore_entry_link_tags('app') }}
        {% endblock %}
    </head>
    <body class="font-sans font-normal antialiased bg-white text-gray-900">
        {% block body %}{% endblock %}
    </body>
</html>
