{% extends 'base.html.twig' %}

{% block body %}
    <div class="container grid grid-cols-2 divide-x mx-auto  px-6 grid grid-cols-1 lg:grid-cols-2 py-24 ">
        <div><a href="/categorie/achat"><img src="assets/img/photoCategories/achat.png" alt="Achat" class="hover:scale-110 transition duration-300 ease-in-out"></a></div>
        <div><a href="/categorie/location"><img src="assets/img/photoCategories/location.png" alt="Location" class="hover:scale-110 transition duration-300 ease-in-out"></a></div>
    </div>
{% endblock %}